# Answer1
 You can put a backslash character followed by a quote ( \" or \' ). This is called an escape sequence and Python will remove the backslash, and put just the quote in the string.

# Answer 2
Here, 1s x a string type var1able.

ex-

x='a'

type(x)

here type of x variable is string.

# #Answer 3

In [9]:
a="Welcome to Python foun ation course"
a.find("to")

8

In [10]:
a.count('a')

1

In [13]:
len(a)

35

In [15]:
a+" ,thank you. "

'Welcome to Python foun ation course ,thank you. '

## Answer 4

In [ ]:
"""Q4Q For the var1able: wor = â€˜PanaJ1@T//56(
Calculate the follow1ng:
(a) Total number of alphabets 1n lowercase
(b) Total number of alphabets 1n uppercase
(c) Total number of numer1cal 1n str1ng"""

In [9]:
word = 'PanaJi@12256'

In [21]:
count_upper=sum(1 for char in  word if char.isupper())
print('Total Number Of Uppercase : ',count_upper)

Total Number Of Uppercase :  2

In [22]:
count_lower=sum(1 for char in word if char.islower())
print('Total Number of Lowercase : ',count_lower)

Total Number of Lowercase :  4

In [23]:
count_num=sum(1 for i in word if i.isdigit())
print('Total no of numerical :',count_num)

Total no of numerical : 5

## Answer 5

In [24]:
#Q5Q Wr1te a co e to store a numer1cal value 1nside a var1able then convert 1t 1nto str1ng

num=55
str_num=str(num)
print("Original numerical value:", nume)
print("Converted string:", numeric_string)

'55'